:root{
    --green-color: #b9c99b;
    --box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);

    --header-text: 'larken', sans-serif;
    --plain-text: 'Metropolis', sans-serif;
}


.banner {
    margin: 0 auto;
    height:50vh;
    width: 100%;
    position: absolute;
    max-width: 1328px;
    background-color: #b9c99b;
}

.banner img{
    position: absolute;
    height:50vh;
}

.banner-hi {
    font-family: var(--header-text);
    font-weight: 700;
}